<div ng-controller="Jornada6">
  <section class="content jornada-reex">
    <div class="container pt-4">
      <div class="row pt-2">
        <div class="col-sm">
          <div class="align-center mbr-light display-6 purple uppercase">
            estimativa de valor do imóvel
          </div>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-sm">
          <div class="align-center mbr-bold display-2 purple uppercase">
            R$ 345.567,00
          </div>
        </div>
      </div>


      <div class="row pb-1">
        <div class="col-sm-4 align-center border-right">
          <div class="mbr-light display-6 silver">
            150m²
            <div class="display-6 silver">Área Terreno</div>
          </div>
        </div>

        <div class="col-sm-4 align-center border-right">
          <div class="mbr-light display-6 silver">
            100m²
            <div class="display-6 silver">Área Construída</div>
          </div>
        </div>

        <div class="col-sm-4 align-center">
          <div class="mbr-light display-6 silver">
            <img src="css/assets/jornada/images/ico-dormitorios.png" width="30">3 &nbsp;&nbsp;
            <img src="css/assets/jornada/images/ico-banheiros.png" width="30"> 2</br>
            <img src="css/assets/jornada/images/ico-suites.png" width="30"> 1 &nbsp;&nbsp;
            <img src="css/assets/jornada/images/ico-vagas.png" width="30"> 2
          </div>
        </div>

      </div>

      <div class="row pb-2">
        <div class="col-sm">
          <div class="align-center">
            <button type="submit" class="btn btn-primary display-8"><a href="#/jornada7">CONTRATAR AVALIAÇÃO</a>
                </button>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="align-left mbr-light display-7 silver disclaimer">
            <small>Simulação feita com base em dados genéricos de mercado sem levar em consideração aspectos específicos do imóvel. Essas especificidades são analisadas na vistoria, através da qual procura-se chegar a uma avaliação mais acurada do imóvel.
A avaliação é o ponto de partida para a formulação da nossa proposta de compra. Embora sejam sempre em valor inferior aos apontados nos laudos de avaliação, nossas propostas partem destes valores. Contrate nossa avaliação e saiba quanto podemos oferecer pelo seu imóvel.</small>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>