<section class="content jornada-reex">
  <div class="container pt-4">

    <div class="row pt-3">
      <div class="col-sm">
        <div class="align-center mbr-semibold display-6 purple">
          Contratação efetuada com sucesso
        </div>
      </div>
    </div>

    <div class="row pb-1">
      <div class="col-sm">
        <div class="align-center mbr-light display-7 silver">
          Enviaremos o boleto no e-mail cadastrado e entraremos <br/> em contato em até 24h para agendar a vistoria.
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm">
        <div class="align-center mbr-light display-7 silver">
          ...<br/>
          <small class="mbr-semibold uppercase"> algo errado?</small><br/>
          <small class="mbr-light"> Eu não recebi o boleto por email:  <a href="#"><b>envie novamente!</b></a><br/>
              Quero esclarecer algumas dúvidas? <a href="#"><b>Entre em contato conosco.</b></a></small>
        </div>
      </div>
    </div>
  </div>

</section>