<div ng-controller="JornadaMeusImoveis">
  <section class="content content-no-bg jornada-reex">
    <div class="container container-larger pt-4">
      <div class="row pt-3 pb-2">
        <div class="col-sm">
          <div class="align-left mbr-light display-5 silver uppercase">
            Meus imóveis
          </div>
        </div>
      </div>

      <div class="d-block d-md-none">
        <div class="align-left mbr-light display-7 silver">
          para visualizar melhor os dados dessa página acesse por um tablet ou computador
        </div>
      </div>

      <div class="d-none d-md-block">
        <div class="row pt-3 pb-3 bg-secondary br">
          <div class="col-md-1 col-lg-2">
            <div class="align-left mbr-light display-9 purple">
              Tipo de imóvel
            </div>
          </div>

          <div class="col-md-2 col-lg-2">
            <div class="align-left mbr-light display-9 purple">
              Endereço
            </div>
          </div>

          <div class="col-md-2 col-lg-1">
            <div class="align-left mbr-light display-9 purple">
              Estimativa
            </div>
          </div>

          <div class="col-md-1 col-lg-1">
            <div class="align-center mbr-light display-9 purple">
              Emissão <br/>do laudo
            </div>
          </div>

          <div class="col-md-1 col-lg-1">
            <div class="align-center mbr-light display-9 purple">
              Valor de <br/>Mercado
            </div>
          </div>

          <div class="col-md-2 col-lg-1">
            <div class="align-center mbr-light display-9 purple">
              Valor Venda<br/> Forçada
            </div>
          </div>

          <div class="col-md-1 col-lg-2">
            <div class="align-center mbr-light display-9 purple">
              Proposta <br/>de Compra
            </div>
          </div>

          <div class="col-md-2 col-lg-2">
            <div class="align-center mbr-light display-9 purple">
              Proposta <br/>de Refinanciamento
            </div>
          </div>

        </div>
      </div>

      <div class="row pt-3 pb-3 bg-silver bb">
        <div class="col-md-1 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Apartamento
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Av. Antônio Costa, 121
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-left mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center display-9 silver">
            <a class="purple display-10" href="jornada-7.html">CONTRATAR AVALIAÇÃO</a>
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ ---
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ ---
          </div>
        </div>

        <div class="col-md-1 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ ---
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ ---
          </div>
        </div>

      </div>

      <div class="row pt-3 pb-3 bg-grey bb">
        <div class="col-md-1 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Salão Comercial
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Rua Major Telmo,459
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-left mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center display-9 silver">
            <img src="css/assets/jornada/images/ico-pdf-grey.png" width="25"> 03.Ago

          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx <br/>
            <a class="purple display-10" href="#">ver proposta</a>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
            <br/>
            <a class="cyan display-10" href="#">ver proposta</a>
          </div>
        </div>

      </div>

      <div class="row pt-3 pb-3 bg-silver bb">
        <div class="col-md-1 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Casa
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Rua Joaquim Damas,33
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-left mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center display-9 silver">
            <img src="css/assets/jornada/images/ico-pdf-grey.png" width="25"> 03.Ago

          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx <br/>
            <a class="purple display-10" href="#">Imprimir proposta</a>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

      </div>


      <div class="row pt-3 pb-3 bg-grey bb">
        <div class="col-md-1 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Salão Comercial
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Rua Major Telmo,459
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-left mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center display-9 silver">
            <img src="css/assets/jornada/images/ico-pdf-grey.png" width="25"> 03.Ago

          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx <br/>
            <a class="purple display-10" href="#">Prazo expirado</a>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
            <br/>
            <a class="cyan display-10" href="#">Prazo expirado</a>
          </div>
        </div>

      </div>

      <div class="row pt-3 pb-3 bg-silver bb">
        <div class="col-md-1 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Casa
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Rua Joaquim Damas,33
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-left mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center display-9 silver">
            <img src="css/assets/jornada/images/ico-pdf-grey.png" width="25"> 03.Ago

          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx <br/>
            <a class="purple display-10" href="#">documentação Rejeitada</a>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ ---
          </div>
        </div>

      </div>

      <div class="row pt-3 pb-3 bg-grey bb">
        <div class="col-md-1 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Salão Comercial
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-left mbr-light display-9 silver">
            Rua Major Telmo,459
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-left mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center display-9 silver">
            <img src="css/assets/jornada/images/ico-pdf-grey.png" width="25"> 03.Ago

          </div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-2 col-lg-1">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx
          </div>
        </div>

        <div class="col-md-1 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ xxx.xxx <br/>
            <span class="mbr-bold purple display-10 uppercase" href="#">operação concluída</span>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="align-center mbr-light display-9 silver">
            R$ ---
          </div>
        </div>

      </div>

    </div>
 
 
</section>
</div>