<div ng-controller="Jornada9">
  <section class="content jornada-reex">
    <div class="container pt-4">
      <div class="row pt-5 pb-5">
        <div class="col-sm border-right">
          <div class="align-center mbr-light display-7 purple uppercase">
            Valor de mercado
          </div>
          <div class="align-center mbr-bold display-4 purple uppercase">
            R$ {{jornada.jornada9.mercado}}
          </div>
        </div>

        <div class="col-sm">
          <div class="align-center mbr-light display-7 purple uppercase">
            Valor de venda forçada
          </div>
          <div class="align-center mbr-bold display-4 purple uppercase">
            R$  {{jornada.jornada9.forcada}}
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm">
          <div class="align-center">
            <!-- 
            <button type="submit" class="btn btn-secondary btn-icon display-8"><a href="#"><img src="assets/jornada/images/ico-pdf.png" width="30"> baixar Laudo</a>
                </button> -->

            <button type="submit" class="btn btn-primary display-8"><a href="#/jornada10">ver propostas reex</a>
                </button>

          </div>
        </div>


      </div>

    </div>
  </section>
</div>