<div ng-controller="JornadaMinhaSenha">

  <section class="content content-no-bg jornada-reex">
    <div class="container container-larger pt-4">
      <form>
        <div class="row pt-3 pb-1">
          <div class="col-sm">
            <div class="align-left mbr-light display-5 silver uppercase">
              Alterar Senha
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="mbr-light display-7 purple">
              Senha atual
            </div>
            <div class="form-group">
              <input type="password" class="form-control mbr-light display-7" placeholder="******">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="mbr-light display-7 purple">
              Digite uma nova senha
            </div>
            <div class="form-group">
              <input type="password" class="form-control mbr-light display-7" placeholder="******">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="mbr-light display-7 purple">
              Confirme sua nova senha
            </div>
            <div class="form-group">
              <input type="password" class="form-control mbr-light display-7" placeholder="******">
            </div>
          </div>
        </div>

        <div class="row pt-1">
          <div class="col-sm-8">
            <div class="align-right">
              <button class="btn btn-info display-8"><a href="jornada-MeusDados.html">Editar dados</a></button>
              <button class="btn btn-danger display-8"><a href="#">Salvar Senha</a></button>

            </div>
          </div>
        </div>
      </form>

    </div>
  </section>

</div>