 

<section class="content jornada-reex">
        <div class="container pt-4">

          <div class="row pt-5">
            <div class="col-sm">
              <div class="align-center mbr-semibold display-6 purple">
              Sua documentação foi rejeitada ou o prazo foi expirado!
              </div>
            </div>
          </div>

          <div class="row pb-1">
            <div class="col-sm">
              <div class="align-center mbr-light display-7 silver">
              Se tiver alguma dúvida ou quiser retomar a operação, entre em contato conosco 
através do telefone <b>(11) 2344 1640</b> ou e-mail do <a href="#"><b>contato@reex.com.br</b></a><br/>
               Teremos muito prazer em lhe atender.
              </div>
            </div>
          </div>
          
        </div>

</section> 