<div ng-controller="Jornada12">
  <section class="content content-no-bg content-scroll jornada-reex">
    <div class="container container-larger pt-4">
      <div class="row pt-3 pb-1">
        <div class="col-sm">
          <div class="align-left mbr-light display-5 silver uppercase">
            Enviar documentação
          </div>
        </div>
      </div>

      <div class="row pt-2 pb-2 br bg-secondary">
        <div class="col-sm-9">
          <div class="align-left mbr-light display-8 purple">
            Endereço do Imóvel:&nbsp; Av. Crisântemo, 701<br/> Proposta de Compra:&nbsp; <b>R$ 1.103.682</b>
          </div>
        </div>

        <div class="col-sm-3 align-self-end">
          <div class="mbr-light display-8 purple">
            Número da Proposta:&nbsp; 00000000<br/> Validade da Proposta:&nbsp; <b>26.set.2019</b>
          </div>
        </div>
      </div>

      <div class="row pt-4 pb-4">
        <div class="col-sm-9">

          <div class="align-left mbr-semibold display-6 purple">
            Parabéns! Você acaba de aceitar nossa oferta de compra.
          </div>
          <div class="align-left mbr-light display-8 silver">
            <p>Para confirmar o negócio, por favor, imprima e assine a proposta e envie-a juntamente com os documentos abaixo
              listados para o e-mail <a href="#"><b>juridico@reex.com.br</b></a></p>
          </div>

          <div class="align-left pb-2">
            <button ng-click="jornada12Manager.redirectPrint()"  class="btn btn-secondary btn-icon display-8"><a ><img src="css/assets/jornada/images/ico-pdf.png" width="30"> Imprimir Proposta</a>
                </button>
          </div>

          <div class="align-left mbr-light display-8 silver">
            • Documento de identificação pessoal (RG/CNH com CPF);<br/> • Comprovante de residência (conta de consumo de
            água, luz, telefone ou gás);<br/> • Certidão de Casamento (caso seja ou tenha sido casado, viúvo ou divorciado);<br/>            • Se for casado, documentos pessoais do cônjuge;<br/> • Matrícula do Imóvel (não se faz necessário a matrícula
            atualizada neste momento);<br/> • Capa do IPTU do ano vigente onde consta a metragem do imóvel;<br/> • Se o imóvel
            for em condomínio, declaração do síndico ou da administradora informando que não há débitos até a presente data.<br/>

          </div>

          <div class="align-left pt-2 pb-2 mbr-light display-8 silver">
            <p>Caso tenha alguma dúvida, entre em contato através do telefone <b>(11) 2344-1640</b>.</p>
          </div>


        </div>
      </div>

    </div>
</div>

<footer id="sticky-footer" class="bg-secondary pt-2 pb-2 fixo-reex">
  <div class="col-sm">
    <div class="align-center">

      <button type="submit" class="btn btn-primary display-8"><a href="#/jornadaMeusImoveis">ver meus imóveis</a>
                </button>

    </div>
</footer>


</section>


</div>