<div ng-controller="JornadaBoasVindas">
  <section class="content jornada-reex">
    <div class="container container-larger pt-4">
      <div class="row pt-3 pb-1">
        <div class="col-sm">
          <div class="align-left mbr-light display-5 silver uppercase">
            Bem vindo(a)
          </div>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-sm-9">

          <div class="align-left mbr-semibold display-6 purple">
            Olá Fulano, é muito bom tê-lo(a) de volta!
          </div>
          <div class="align-left mbr-light display-8 silver">
            <p>Como sabe, estamos prontos para dar liquidez ao seu imóvel. <br/>O que você quer fazer agora?</p>
          </div>

        </div>
      </div>

      <div class="row pb-2">
        <div class="col-sm-4">
          <a class="btn btn-lg btn-primary" href="#/jornada1">fazer uma nova simulação</a>
        </div>

        <div class="col-sm-4">
          <a class="btn btn-lg btn-secondary" href="#/jornadaMeusImoveis">MEUS Imóveis</a>
        </div>

        <div class="col-sm-4">
          <a class="btn btn-lg btn-secondary" href="#">Meus Documentos</a>
        </div>
      </div>

      <div class="row pb-4">
        <div class="col-sm-4">
          <a class="btn btn-lg btn-primary"href="#/jornada7">Contratar uma avaliação</a>
        </div>

        <div class="col-sm-4">
          <a class="btn btn-lg btn-secondary"href="#/jornadaMeusDados">Meus dados</a>
        </div>

        <div class="col-sm-4">
          <a class="btn btn-lg btn-secondary" href="#">Sair</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9">

          <div class="align-left pt-2 pb-2 mbr-light display-8 silver">
            <p>Caso tenha alguma dúvida, entre em contato através do telefone <b>(11) 2344-1640</b>.</p>
          </div>

        </div>
      </div>

    </div>

  </section>
</div>