<div ng-controller="Jornada5">
  <section class="content jornada-reex">
    <div class="container pt-4">

      <div class="row pt-3">
        <div class="col-sm">
          <div class="align-center mbr-semibold display-6 purple">
            Confirme seu endereço de e-mail!
          </div>
        </div>
      </div>

      <div class="row pb-1">
        <div class="col-sm">
          <div class="align-center mbr-light display-7 silver">
            Acesse seu email e clique no link que você recebeu
          </div>
        </div>
      </div>

      <div class="row pb-4">
        <div class="offset-sm-2 col-sm-8">
          <div class="align-center mbr-semibold display-7 purple bg-purple border-radius pb-1 pt-1">
            <em>usuario@email.com</em>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="align-center mbr-light display-7 silver">
            ...<br/>
            <small class="mbr-semibold uppercase"> algo errado?</small><br/>
            <small class="mbr-light"> Eu não recebi o email de confirmação: <a href="#"><b>envie novamente!</b></a><br/>
              Não é o meu endereço de email?  <a href="#"><b>Volte para a inscrição!</b></a></small>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>